<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Preguntas </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
	<h2> Quiz: el juego de las preguntas</h2>
    </header>
    <p> </p>
    <nav> 
	<a href="/"> Inicio </a>
	<a href="/question"> Preguntas </a>
	<a href="/author"> Créditos </a>
    </nav>
    <section> 
	<div> <%- body %> </div>
    </section> 
    <footer> 
	<p><a href="https://github.com/MiryMou95/quiz2016"> Proyecto en GitHub </a></p>
	<p><a href="http://es.wikipedia.org/wiki/Quiz"> ¿Qué es un Quiz? </a></p>
    </footer>
  </body>
</html>
