<form method="get" action="/quizzes">
	Buscar pregunta: 
	<p> <input type="text" name="search" value="<%= search %>" placeholder="Introduzca pregunta a buscar" /></p>
	<p> <input type="submit" value="Enviar" /> </p>
</form>
<table>
	<% for(var i in quizzes){ %>
		<tr>
			<td>
				<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %> </a>
			</td>
		</tr>
	<% } %>
</table>
